# Placing some files that will be ignored by git. This files are just for my organization, in most of the cases.

# Ignoring the executable linux file, just for organization.
executavel*

# This will ignore all the hpp files of SFML.
sfml-hpp/

# This are some objects files that will now be ignored.
src/jogo.o
src/main.o
src/phrase.o
src/sprites.o
src/boat.o
src/character.o
src/points.o
src/gamedata.o





